<div class="row">
	<div class="col s12">
		<h1>Formulario</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
	</div>

	<div class="col s12 input-field">
		<input id="username" type="text">
		<label for="username">Agregue un @username</label>
	</div>

	<div class="col s12 input-field">
		<select id="option">
			<option value="" selected>Todas</option>
			<option value="opcion_1">Opci贸n #1</option>
			<option value="opcion_2">Opci贸n #2</option>
			<option value="opcion_3">Opci贸n #3</option>
		</select>
		<label for="option">Escoja una opci贸n</label>
	</div>
</div>

<div class="bottom-space"></div>

<!-- BUTTON -->
<div id="btn" class="fixed-action-btn">
	<a class="btn-floating waves-effect waves-light grey second" href="#!" onclick="apretaste.back()">
		<i class="material-icons">arrow_back</i>
	</a>
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'BAREBONE USERS'})">
		<i class="material-icons">save</i>
	</a>
</div>
