<div class="row">
	<div class="col s12 center-align">
		<img class="spacing-up-down" src="{{APP_SERVICE_PATH}}/images/logo.png" alt="logo">

		<div class="input-field">
			<input id="query" type="text"/>
			<label for="query">¿Qué desea buscar?</label>
		</div>

		<p class="left-align">Un texto dando ejemplos de que buscar, si fuera necesario. Tambien puede omitirse.</p>

		<br><br>

		<a href="#!" onclick="apretaste.send({'command':'BAREBONE SEARCH'})"><span class="chip"><i class="material-icons icon">search</i> Buscar</span></a>
		<a href="#!" onclick="apretaste.send({'command':'BAREBONE RESULTS'})"><span class="chip"><i class="material-icons icon">wallpaper</i> Resultados</span></a>
		<a href="#!" onclick="apretaste.send({'command':'BAREBONE USERS'})"><span class="chip"><i class="material-icons icon">people</i> Usuarios</span></a>
		<a href="#!" onclick="apretaste.send({'command':'BAREBONE RULES'})"><span class="chip"><i class="material-icons icon">assignment_late</i> Reglas</span></a>
		<a href="#!" onclick="apretaste.send({'command':'BAREBONE NEWS'})"><span class="chip"><i class="material-icons icon">spa</i> Noticias</span></a>
		<a href="#!" onclick="apretaste.send({'command':'BAREBONE ARTICLE'})"><span class="chip"><i class="material-icons icon">remove_red_eye</i> Articulo</span></a>
		<a href="#!" onclick="apretaste.send({'command':'BAREBONE PROFILE'})"><span class="chip"><i class="material-icons icon">person</i> Perfil</span></a>
		<a href="#!" onclick="apretaste.send({'command':'BAREBONE MESSAGE'})"><span class="chip"><i class="material-icons icon">info</i> Mensaje</span></a>
		<a href="#!" onclick="apretaste.send({'command':'BAREBONE CHAT'})"><span class="chip"><i class="material-icons icon">forum</i> Chat</span></a>
	</div>
</div>

<div class="bottom-space"></div>

<!-- SUBMIT -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'BAREBONE RESULTS'})">
		<i class="material-icons">send</i>
	</a>
</div>
