<div class="row home">
	<div class="col s12 center-align">
		<img src="{{APP_SERVICE_PATH}}/images/logo.png" alt="logo">

		<div class="input-field">
			<input id="query" type="text"/>
			<label for="query">¿Qué desea buscar?</label>
		</div>

		<div class="input-field">
			<select id="option">
				<option value="" selected>Todas</option>
				<option value="opcion_1">Opción #1</option>
				<option value="opcion_2">Opción #2</option>
				<option value="opcion_3">Opción #3</option>
			</select>
			<label for="option">Escoja una opción</label>
		</div>

		<div class="tags">
			<span class="chip"><i class="material-icons icon">wallpaper</i> Resultados</span>
			<span class="chip"><i class="material-icons icon">spa</i> Noticias</span>
			<span class="chip"><i class="material-icons icon">assignment_late</i> Reglas</span>
			<span class="chip"><i class="material-icons icon">info</i> Mensaje</span>
			<span class="chip"><i class="material-icons icon">person</i> Perfil</span>
		</div>

		<div class="menu">
			<a class="btn btn-small grey lighten-2 black-text sidenav-trigger" data-target="home-menu" href="#!">
				<i class="material-icons left">menu</i> Opciones
			</a>
		</div>
	</div>
</div>

<!-- MENU -->
<ul id="home-menu" class="sidenav">
	<li><a href="#!" onclick="apretaste.send({'command':'BAREBONE FORM'})"><i class="material-icons icon">search</i> Formulario</a></li>
	<li><a href="#!" onclick="apretaste.send({'command':'BAREBONE RESULTS'})"><i class="material-icons icon">wallpaper</i> Resultados</a></li>
	<li><a href="#!" onclick="apretaste.send({'command':'BAREBONE USERS'})"><i class="material-icons icon">people</i> Usuarios</a></li>
	<li><a href="#!" onclick="apretaste.send({'command':'BAREBONE RULES'})"><i class="material-icons icon">assignment_late</i> Reglas</a></li>
	<li><a href="#!" onclick="apretaste.send({'command':'BAREBONE NEWS'})"><i class="material-icons icon">spa</i> Noticias</a></li>
	<li><a href="#!" onclick="apretaste.send({'command':'BAREBONE ARTICLE'})"><i class="material-icons icon">remove_red_eye</i> Articulo</a></li>
	<li><a href="#!" onclick="apretaste.send({'command':'BAREBONE PROFILE'})"><i class="material-icons icon">person</i> Perfil</a></li>
	<li><a href="#!" onclick="apretaste.send({'command':'BAREBONE TAGS'})"><i class="material-icons icon">tag</i> Tags</a></li>
	<li><a href="#!" onclick="apretaste.send({'command':'BAREBONE WIDGETS'})"><i class="fab fa-windows"></i> Widgets</a></li>
	<li><a href="#!" onclick="apretaste.send({'command':'BAREBONE CHAT'})"><i class="material-icons icon">forum</i> Chat</a></li>
	<li><div class="divider"></div></li>
	<li><a href="#!" onclick="apretaste.send({'command':'BAREBONE MESSAGE'})"><i class="material-icons icon">info</i> Mensaje</a></li>
	<li><a href="#!" onclick="apretaste.send({'command':'BAREBONE EMPTY'})"><i class="material-icons icon">info_outline</i> Vacio</a></li>
</ul>

<div class="bottom-space"></div>

<!-- SUBMIT -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'BAREBONE RESULTS'})">
		<i class="material-icons">send</i>
	</a>
</div>
