<div class="row">
	<div class="col s12">
		<h1>Ficha de usuario</h1>
		<p>Información útil del usuario @salvi.</p>
		<ul class="collection one-line">
			<% items.forEach(function(item) { %>
				<li class="collection-item avatar">
					<i class="tiny material-icons circle"><%= item.icon %></i>
					<span class="title"><%= item.title %></span>
					<p class="blue-grey-text"><%= item.subtitle %></p>
				</li>
			<% }) %>
		</ul>
	</div>
</div>

<div class="bottom-space"></div>

<!-- BUTTON -->
<div id="btn" class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.back()">
		<i class="material-icons">arrow_back</i>
	</a>
</div>
