<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Resultados</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'BAREBONE NEWS'})">Noticias</a></li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<div class="input-field outline search-field">
			<i class="material-icons">send</i>
			<input id="search" type="text" class="search-input"/>
			<label for="search">Buscar</label>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<% items.forEach(function(item) { %>
			<div class="card">
				<div class="card-person grey lighten-5">
					<div class="person-avatar circle left" face="hombre" color="rojo" size="30" online="1"></div>
					<a href="#!" class="F" onclick="apretaste.send({command:'BAREBONE PROFILE'})">@salvipascual</a>
				</div>
				<div class="card-content">
					<span class="card-title"><%= item.title %></span>
					<p>Vence el <%= moment(item.deadline).format('D [de] MMMM') %></p>
					<p class="blue-grey-text">Un subtitulo que por ahora esta hardcoded</p>
				</div>
				<div class="card-action grey lighten-4">
					<a class="green-text" href="#!" onclick="apretaste.send({command:'BAREBONE ARTICLE'})">Ver mas</a>
					<a class="green-text" href="#!" onclick="apretaste.send({command:'BAREBONE PROFILE'})">Usuario</a>
					<a class="red-text modal-trigger" href="#deleteModal">Borrar</a>
				</div>
			</div>
		<% }) %>
	</div>
</div>

<!-- PAGINATION -->
<% if(pages > 1) { %>
	<div class="row">
		<div class="col s12 center-align">
			<ul class="pagination">
				<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
				<li class="waves-effect"><%= page %> / <%= pages %></li>
				<li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
			</ul>
		</div>
	</div>
<% } %>

<div class="bottom-space"></div>

<!-- FLOATING BUTTON -->
<div class="fixed-action-btn">
	<a href="#newModal" class="btn-floating btn-large waves-effect waves-light modal-trigger">
		<i class="large material-icons">add</i>
	</a>
</div>

<!-- MODAL NEW ITEM -->
<div id="newModal" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="input-field">
			<textarea id="message" class="materialize-textarea"></textarea>
			<label for="message">Escriba su mensaje</label>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a onclick="apretaste.send({command:'BAREBONE MESSAGE'})" class="modal-close waves-effect waves-green btn-flat">Enviar</a>
	</div>
</div>

<!-- MODAL DELETE ITEM -->
<div id="deleteModal" class="modal">
	<div class="modal-content">
		<p>¿Está seguro de eliminar este artículo?</p>
	</div>
	<div class="modal-footer">
		<a class="modal-close waves-effect waves-green btn-flat">Cancelar</a>
		<a class="modal-close waves-effect waves-red red-text btn-flat" onclick="apretaste.send({command:'BAREBONE MESSAGE'})">Eliminar</a>
	</div>
</div>
