<div class="row">
	<div class="col s12">
		<h1>Buscar</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
	</div>

	<div class="col s12 input-field">
		<input id="username" type="text">
		<label for="username">Buscar por @username</label>
	</div>

	<div class="col s12 input-field">
		<select id="province">
			<option value="" selected>Todas</option>
			<option value="opcion_1">Opcion #1</option>
			<option value="opcion_2">Opcion #2</option>
			<option value="opcion_3">Opcion #3</option>
		</select>
		<label>Escoja una opcion</label>
	</div>

	<div class="col s12 input-field">
		<a class="waves-effect waves-light btn-small green">
			<i class="material-icons left">search</i> Buscar
		</a>
	</div>
</div>

<div class="bottom-space"></div>

<!-- BUTTON -->
<div id="btn" class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.back()">
		<i class="material-icons">arrow_back</i>
	</a>
</div>
