<div class="row">
	<div class="col s12" style="margin-top:10px;">
		<div class="chip tiny">@salvi</div>
		<div class="chip tiny">La Habana</div>
	</div>

	<% users.forEach(function(item){ %>
		<div class="col s4 m3">
			<div class="card user-card center-align">
				<div class="content">
					<div class="person-avatar circle" face="<%= item.avatar %>" color="<%= item.avatarColor %>" size="40" online="1"></div>
					<span class="<%= item.gender %>">@<%= item.username %></span>
				</div>
				<div class="action grey lighten-2 green-text">
					<a href="#!"><i class="material-icons" onclick="apretaste.send({command: 'BAREBONE CHAT'})">chat</i></a>
					<a href="#!"><i class="material-icons" onclick="apretaste.send({command: 'BAREBONE PROFILE'})">person</i></a>
				</div>
			</div>
		</div>
	<% }) %>
</div>

<div class="bottom-space"></div>

<!-- SUBMIT -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'BAREBONE FORM'})">
		<i class="material-icons">arrow_back</i>
	</a>
</div>
